<h2>Hi <%= @user.username %>, </h2>
<div>You have been invited to view the doucument,
  <strong>
    <%= @page.title %>
  </strong>
</div>

<div>
  <p>Enjoy and Have nice day!</p>
  <p>Thank you,</p>
  <p>The Zettel Team</p>
</div>



